.header {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
  }
  
  .header-link {
    text-decoration: none;
    padding: 0 20px;
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
  }
  
  .header-link:hover {
    color: #dfdede;
  }