body {
    background: #9152f8; /* fallback for old browsers */
    background: linear-gradient(90deg, #7579ff 0%, #b224ef 50%);
    font-family: "Roboto", sans-serif;   
}

/*header*/
.header {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
  }
  
  .header-link {
    text-decoration: none;
    padding: 0 20px;
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
  }
  
  .header-link:hover {
    color: #dfdede;
  }

  /*createForm*/
  @import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  border-radius: 10%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 10px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #9152f8;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
}
.form button:hover,.form button:active,.form button:focus {
  background: #7579ff;
}

/*savedForms*/
.grid-container {
    padding: 50px 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 50px;
    justify-content: center;
  }
  
  .grid-item {
    width: 200px;
    height: 100px;
    background-color: #f2f2f2;
    border-radius: 20px;
    text-align: start;

    font-family: "Roboto", sans-serif;
    color:#686666;
    background: #f2f2f2;
    margin: 0 0 15px;
    padding: 20px;
    font-size: 14px;
  }

  .grid-item p {
    border: 1px solid #686666;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
  }

  .grid-item p span {
    color: #38166e;
  }

  /*footer*/
.footer{
  height: 30px;
  width: 100%;
  position: fixed;
  bottom: 0;
  font-family: "Roboto", sans-serif;
  color:#f2f2f2;
  padding-left: 50px;
  font-size: 12px;
}